<mat-toolbar color="primary">
  <mat-toolbar-row>

    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <a mat-menu-item href="https://github.com/angevaldo/ahg-youtube" target="_blank">
        <mat-icon svgIcon="github"></mat-icon> Github project
      </a>
    </mat-menu>

    <span>Youtube Search</span>

    <span class="spacer"></span>

    <a mat-menu-item href="http://www.youtube.com" target="_blank" title="Go to Youtube">
      <img class="logo" src="/assets/images/logo-youtube.svg" alt="Youtube">
    </a>
  </mat-toolbar-row>
</mat-toolbar>

<div class="page-wrapper">

  <router-outlet></router-outlet>

</div>