<div class="search-form">
    <form [formGroup]="formSearch" novalidate>
        <mat-form-field class="search-field">
            <mat-label>Search term</mat-label>
            <input matInput placeholder="Ex. The Avengers" formControlName="term" minlength="3">
        </mat-form-field>

        <button mat-icon-button [disabled]="formSearch.invalid || mocked" (click)="search()">
            <mat-icon>search</mat-icon>
        </button>

        <mat-checkbox class="mocked-checkbox" [checked]="mocked" (change)="setMocked($event.checked)">
            mocked search
        </mat-checkbox>
    </form>
</div>

<mat-drawer-container *ngIf="videos.length > 0">
    <mat-drawer mode="side" opened position="end">

        <form [formGroup]="formTimeExpend" novalidate>

            <p class="text-muted">Inform the time to expend daily during a week (in minutes):</p>

            <mat-form-field class="week-field" *ngFor="let wd of weekDay; let i = index">
                <mat-label>{{wd}}</mat-label>
                <input matInput min="0" max="1440" type="number" formControlName="weekDay{{i}}"
                    (change)="onChangeWeekField()">
            </mat-form-field>

            <p class="search-button">
                <button mat-raised-button [disabled]="formTimeExpend.invalid" (click)="calculateTimeExpend()"
                    color="primary">
                    Calculate
                </button>
            </p>

            <div *ngIf="daysToWatch > 0">
                <p class="text-muted">Days needed to watch videos returned: </p>
                <p class="text-emphasys">{{ daysToWatch }}</p>
            </div>
        </form>

    </mat-drawer>
    <mat-drawer-content>

        <p class="most-used">
            Five most used words in titles and descriptions of the result:
            <strong>{{ fiveMostUsedWords }}</strong>
        </p>

        <br>

        <mat-table [dataSource]="videos" matSort>
            <mat-header-row *matHeaderRowDef="['video']" style="display: none;"></mat-header-row>
            <mat-row *matRowDef="let row; columns: ['video'];"></mat-row>

            <ng-container matColumnDef="video">
                <mat-header-cell *matHeaderCellDef> video </mat-header-cell>
                <mat-cell *matCellDef="let element">
                    <div class="video-line">
                        <div class="overlay">
                            <a href="#" class="thumb" target="_blank">
                                <img [src]="element.thumbnailsUrl" alt="thumb" class="thumbnail">
                            </a>
                            <a href="https://www.youtube.com/watch?v={{element.id}}" class="time"
                                target="_blank">{{element.duration | number:'1.1-1'}} min</a>
                            <a href="https://www.youtube.com/watch?v={{element.id}}" class="playWrapper"
                                target="_blank"></a>
                        </div>
                        <h3>{{element.title}}</h3>
                        <p>{{element.description}}</p>
                    </div>
                </mat-cell>
            </ng-container>
        </mat-table>

        <mat-paginator #paginator [pageSize]="5" [pageSizeOptions]="[5, 10, 15, 25]"></mat-paginator>

    </mat-drawer-content>
</mat-drawer-container>

<div *ngIf="videos.length == 0">
    <p class="no-results">Nothing to show.</p>
</div>